/**
  * The following style sheet is was copied an modified from:
  *   https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  *   11/20/2016
  *
  * http://www.cssportal.com/style-input-range/
  * http://danielstern.ca/range.css/#/
  */


html {
  background: darkblue no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row-wrap;

  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.header {
  background: darkblue;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Comic Sans MS";
  font-size: 80px;
}
.footer {
  background: darkblue;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: center;
}
.main {
  background: darkblue;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: center;
}

.aside-1 {
  background: darkblue;
}

.aside-2 {
  background: darkblue;

}
.flex-item {
    background-color: darkblue;
    width: 100px;
    margin: 10px;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .flex-item {order: 4; }
  .footer  { order: 5; }
}


/** Range slider styling here: **/
input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  margin: 7.1px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff81a;
  border-radius: 5.8px;
  border: 3.5px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 3.3px solid #000000;
  height: 35px;
  width: 36px;
  border-radius: 16px;
  background: #79ffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff934;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff81a;
  border-radius: 5.8px;
  border: 3.5px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 3.3px solid #000000;
  height: 35px;
  width: 36px;
  border-radius: 16px;
  background: #79ffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff700;
  border: 3.5px solid #010101;
  border-radius: 11.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #fff81a;
  border: 3.5px solid #010101;
  border-radius: 11.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 3.3px solid #000000;
  height: 35px;
  width: 36px;
  border-radius: 16px;
  background: #79ffff;
  cursor: pointer;
  height: 20.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff81a;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff934;
}
